{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}

{##}
{#{% extends 'traffic_police/index.html'%}#}
{#{% block body %}#}
{##}
{#<body>#}
{#<form action="/assginacccode" method="post" enctype="multipart/form-data" name="form1" id="form1">#}
{#  <table class="table table-hover">#}
{#    <tr>#}
{#        <td ><p>HOSPITAL</p></td>#}
{#          <td><select name="select1">#}
{#              {% for i in val %}#}
{#              <option value="{{ i.id }}">{{ i.name }}</option>#}
{#              {% endfor %}#}
{#          </select></td>#}
{#    </tr>#}
{#      <tr><td>AMBULANCE</td>#}
{#         <td><select name="select2">#}
{#              {% for i in val1 %}#}
{#              <option value="{{ i.id }}">{{ i.name }}</option>#}
{#              {% endfor %}#}
{#          </select></td></tr>#}
{#        <tr>#}
{##}
{##}
{#       <tr><td colspan="2">#}
{#             <p align="center">#}
{#        <input type="submit" name="Submit" value="ADD" class="btn btn-primary" />#}
{##}
{#        </td></tr>#}
{##}
{##}
{#  </table>#}
{#</form>#}
{#</body>#}
{#{% endblock %}#}
{% extends 'traffic_police/index.html' %}
{% block body %}

<body>
    <form action="/assginacccode" method="post" enctype="multipart/form-data" name="form1" id="form1">
        <div class="container mt-4">
            <div class="card shadow-lg p-4">
                <h3 class="text-center mb-4">Assign Accident Code</h3>
                <table class="table table-bordered table-striped">
                    <tr>
                        <td><strong>HOSPITAL</strong></td>
                        <td>
                            <select name="select1" class="form-control">
                                {% for i in val %}
                                <option value="{{ i.id }}">{{ i.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>AMBULANCE</strong></td>
                        <td>
                            <select name="select2" class="form-control">
                                {% for i in val1 %}
                                <option value="{{ i.id }}">{{ i.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-center">
                            <button type="submit" name="Submit" class="btn btn-primary px-4">ADD</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</body>

{% endblock %}
